<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>5 Places</title>
<link rel="shortcut icon" href="img/favicon.ico">
<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/ionic/js/angular/angular-resource.min.js"></script>
<!-- <script src="lib/ngCordova/dist/ng-cordova.js"></script> -->
<script src="cordova.js"></script>
<!--
<script src="js/data.js"></script>
<script src="js/app.js"></script>
-->
<script src="js/all.min.js"></script>
<style>
body {
    background-color:#3c7b84;
}
</style>
</head>

<body ng-app="places5">
<ion-nav-view animation="slide-left-right"></ion-nav-view>
</body>

<!-- main -->
<script id="main.html" type="text/ng-template">

    <ion-content class="main" id="main">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <ul class="list main">
            <a href="#/details">
                <li class="item main-restaurant-info"">
                    <div class="main-restaurant-type"       ng-bind="selected_restaurant.Type"></div>
                    <div class="main-restaurant-name"       ng-bind="selected_restaurant.Name"></div>
                    <div class="main-restaurant-distance"   ng-bind="selected_restaurant.distance"></div>
                </li>
            </a>
        </ul>

        <div class="radar">

            <div class="circle-box">
                <div class="circle-container">
                    <div class="circle circle6">
                    <div class="circle circle5">
                    <div class="circle circle4">
                    <div class="circle circle3">
                    <div class="circle circle2">
                    <div class="circle circle1">
                    <div class="circle circle0">
                        <a ng-click="next();"><div class="text-center">NEXT</div></a>
                    </div></div></div></div></div></div></div>
                </div>
            </div>

            <div class="location-dots-box">
                <div ng-repeat="restaurant in restaurants" class="location-circle-box location-circle-box{{$index}}" ng-class="{active:$index==active_index}"
                    ng-style="{'margin-top':restaurant.top, 'margin-left':restaurant.left }">
                    <a ng-click="change_restaurant($index)">
                        <div class="location-circle-container" ondblclick="delete localStorage.fivePlacesRestaurantList">
                            <div class="location-circle location-circle2">
                            <div class="location-circle location-circle1">
                            <div class="location-circle location-circle0" title="{{restaurant.Latitude}}, {{restaurant.Longtitude}}">
                            </div></div></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>


    </ion-content>

    <div nav-clear class="footer-icons main">
        <a href="#/main" ><img class="tab-icon tab-icon-main" src="img/btn_1_b.png" /></a>
        <a href="#/fav"  ><img class="tab-icon tab-icon-fav"  src="img/btn_2_a.png" /></a>
        <a href="#/info" ><img class="tab-icon tab-icon-info" src="img/btn_3_a.png" /></a>
    </div>

</script>



<!-- fav -->
<script id="fav.html" type="text/ng-template">

    <ion-content class="fav">

        <ion-list>
            <ion-item ng-repeat="restaurant in favourites" ng-click="show({{restaurant.index}})">
                <div class="fav-restaurant-name">{{restaurant.Name}}</div>
                <div class="fav-restaurant-type">{{restaurant.Type}}</div>
                <ion-option-button ng-click="info({{restaurant.index}});"  ><i class="fav-option-icon icon ion-ios7-information"></i></ion-option-button>
                <ion-option-button ng-click="map({{restaurant.index}});"   ><i class="fav-option-icon icon ion-android-location"></i></ion-option-button>
                <ion-option-button ng-click="delete_fav( {{restaurant.index}} );"><i class="fav-option-icon icon ion-minus-circled"   ></i></ion-option-button>
            </ion-item>
        </ion-list>
        <h1 class="text-center fav-restaurant-name" ng-bind-template="No favourites" ng-if="!favourites.length"></h1>

    </ion-content>

    <div nav-clear class="footer-icons fav">
        <a href="#/main" ><img class="tab-icon tab-icon-main" src="img/btn_1_a.png" /></a>
        <a href="#/fav"  ><img class="tab-icon tab-icon-fav"  src="img/btn_2_b.png" /></a>
        <a href="#/info" ><img class="tab-icon tab-icon-info" src="img/btn_3_a.png" /></a>
    </div>

</script>



<!-- info -->
<script id="info.html" type="text/ng-template">

    <ion-content class="info">
        <h4 class="info-heading">Hey there</h4>
        <p> We are a bunch of locals who enjoy good food. "What is your
            definition of good food?" we hear you ask. Good food has taste,
            is local and has heritage.Good food makes you travel miles
            (sometimes), makes you dream about it, and is not corporate.
            Good food makes you wanna talk about it, in a good way of course.</p>

        <p> We know such places and we would like you to try them. They are
            sometimes obscure, not known by tour-the true identity of our
            culinary experience.</p>

        <p> Depends on your location, 5 PLACES suggests
            you 5 random places each time you refresh it. Some-times a very
            rare and very special one too. Why 5? Because we know more might
            be overwhelming.</p>
        <p><a href="mailto:enjoy@5places2eat.com">Contact us.</a></p>
    </ion-content>

    <div nav-clear class="footer-icons info">
        <a href="#/main" ><img class="tab-icon tab-icon-main" src="img/btn_1_a.png" /></a>
        <a href="#/fav"  ><img class="tab-icon tab-icon-fav"  src="img/btn_2_a.png" /></a>
        <a href="#/info" ><img class="tab-icon tab-icon-info" src="img/btn_3_b.png" /></a>
    </div>

</script>



<!-- Details-->
<script id="details.html" type="text/ng-template">

    <ion-content class="details">

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="image in restaurant['Images']">
                <img class="photo" ng-src="{{image}}">
            </ion-slide>
        </ion-slide-box>

        <div class="text-right details-icons-container">
            <div class="details-icons">
                <a href="#/map"><i class="icon ion-android-location details-icon">&nbsp;</i></a>
                <a id="id-fav-add" ng-click="addToFavourites(selected_restaurant_index)"><i class="icon ion-ios7-heart details-icon">&nbsp;</i></a>
            </div>
        </div>

        <div class="details details-restaurant-info">
            <div class="details-restaurant-name" ng-bind="restaurant.Name"></div>
            <div class="details-restaurant-type" ng-bind="restaurant.Type"></div>
        </div>

        <div class="details details-restaurant-additional-info">
            <div class="row details"><div class="col col-33 dt">Best for   </div><div class="col dd">{{restaurant["Best for"]}}   </div></div>
            <div class="row details"><div class="col col-33 dt">Ambience   </div><div class="col dd">{{restaurant["Ambient"]}}    </div></div>
            <div class="row details"><div class="col col-33 dt">Price      </div><div class="col dd">{{restaurant["Price"]}}      </div></div>
            <div class="row details"><div class="col col-33 dt">Location   </div><div class="col dd">{{restaurant["Location"]}}   </div></div>
            <div class="row details"><div class="col col-33 dt">Famous dish</div><div class="col dd">{{restaurant["Famous Dish"]}}</div></div>
            <div class="row details"><div class="col">{{restaurant["Explanation"]}}</div></div>
            </div>
        </div>

    </ion-content>

    <div nav-clear class="footer-icons info">
        <a href="#/main" ><img class="tab-icon tab-icon-main" src="img/btn_1_a.png" /></a>
        <a href="#/fav"  ><img class="tab-icon tab-icon-fav"  src="img/btn_2_a.png" /></a>
        <a href="#/info" ><img class="tab-icon tab-icon-info" src="img/btn_3_a.png" /></a>
    </div>

</script>



<!-- Map-->
<script id="map.html" type="text/ng-template">

    <ion-content class="map">
        <div id="map-canvas"><h3>Map not available</h3></div>
    </ion-content>

    <div nav-clear class="footer-icons info">
        <a href="#/main" ><img class="tab-icon tab-icon-main" src="img/btn_1_a.png" /></a>
        <a href="#/fav"  ><img class="tab-icon tab-icon-fav"  src="img/btn_2_a.png" /></a>
        <a href="#/info" ><img class="tab-icon tab-icon-info" src="img/btn_3_a.png" /></a>
    </div>

</script>


<script src="http://maps.googleapis.com/maps/api/js?v=3.exp"></script>


</html>

